{% extends 'layouts.html' %}
 
{% block content %}
    <form action="/update/{{user.id}}" method="post">
        <div class="mb-3">
            <label>Name</label>
            <input type = "text" name = "name" placeholder = "Name" class="form-control" value="{{user.name}}"/>
        </div> 
        <div class="mb-3">
            <label>Email</label>
            <input type = "text" name = "email" placeholder = "email" class="form-control" value="{{user.email}}"/>
        </div> 
        <div class="mb-3">
            <label>Mobile</label>
            <input type = "text" name = "mobile" placeholder = "mobile" class="form-control" value="{{user.mobile}}"/>
        </div> 
        <div class="mb-3">
            <label>Age</label>
            <input type = "number" name = "age" placeholder = "age" class="form-control" value="{{user.age}}"/>
        </div> 
     
        <input type = "submit" value = "Update" class="btn btn-primary mb-3"/>  
     </form> 
{% endblock content %}